This tool is designed to run on Kali Linux.

# Dependencies
You need to install the following Python libraries:

'zipfile' to work with the .zip .


# Installation
NOTE=> in Kali Linux These are Pre-installed. If not, Then:

open terminal and give below commands :

Step 1: Install Python 3 and pip (if not already installed)

sudo apt update
sudo apt install python3 python3-pip

Step 2: install zipfile module.

sudo apt update
sudo apt install python3-zipfile

( Now close the terminal and open new one to run the tool )
